@*@model List<Category>

<div class="inner">
    <div class="offcanvas-search-form">
        <button class="offcanvas-close">×</button>
        <form action="#">
            <div class="row mb-n3">
                <div class="col-lg-8 col-12 mb-3"><input type="text" placeholder="Search Products..."></div>
                <div class="col-lg-4 col-12 mb-3">
                    <select id="categoriesSelect" class="search-select select2-basic">
                        <option value="0">All Categories</option>
                        @if (Model != null && Model.Any())
                        {
                            foreach (var category in Model)
                            {
                                <option value="@category.CategoryId">@category.CategoryName</option>
                            }
                        }
                        else
                        {
                            <option value="0">No Categories Available</option>
                        }
                    </select>
                </div>
            </div>
        </form>
    </div>
    <p class="search-description text-body-light mt-2"> <span># Type at least 1 character to search</span> <span># Hit enter to search or ESC to close</span></p>

</div>
*@