@model SmallBusiness.ViewModels.ForgotPasswordViewModel

<!-- Lost Password Section Start -->
<div class="section section-padding">
    <div class="container">

        <div class="lost-password">
            <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>

            <form method="post" asp-action="ForgotPassword" asp-controller="Account" id="forgotPasswordForm">
                    <div class="row learts-mb-n30">
                        <div class="col-12 learts-mb-30">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" placeholder="Email address" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-12 text-center learts-mb-30">
                            <button class="btn btn-dark btn-outline-hover-dark">reset password</button>
                        </div>
                    </div>
                </form>
          
        </div>

    </div>

</div>
<!-- Lost Password Section End -->
<script>
    document.getElementById("forgotPasswordForm").addEventListener("submit", function (event) {
        event.preventDefault();

        var email = document.getElementById("Email").value.trim();
        if (email !== "") {
            Swal.fire({
                title: 'Check your email',
                text: 'A password reset link has been sent to your email. Please check your inbox.',
                icon: 'success',
                timer: 4000, 
                showConfirmButton: false 
            }).then(function () {
                window.location.href = '@Url.Action("Login", "Account")';
            });
        }
    });
</script>
