@using SmallBusiness.List;
@model SmallBusiness.ViewModels.RegisterUserViewModel
<style>
    .ab {
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        padding: 0 15px 7px 0;
        cursor: pointer;
    }

        .ab i {
            cursor: pointer;
            z-index: 10;
        }

    .image {
        position: relative;
    }
</style>
<!-- Login & Register Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row g-0" style="justify-content:center">

            <div class="col-lg-6">
                <div class="user-login-register bg-light">
                    <div class="login-register-title">
                        <h2 class="title">Register</h2>
                        <p class="desc">If you don’t have an account, register now!</p>
                    </div>
                    <div class="login-register-form">
                        <form method="post" asp-action="RegisterSeller" asp-controller="Account" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row learts-mb-n50">
                                <div class="col-12 learts-mb-20">
                                    <label asp-for="FirstName">First Name <abbr class="required">*</abbr></label>
                                    <input asp-for="FirstName" type="text" id="registerEmail">
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>


                                <div class="col-12 learts-mb-20">
                                    <label asp-for="LastName">Last Name <abbr class="required">*</abbr></label>
                                    <input asp-for="LastName" type="text" id="registerEmail">
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>


                                <div class="col-12 learts-mb-20">
                                    <label asp-for="Email">Email address <abbr class="required">*</abbr></label>
                                    <input asp-for="Email" type="email" id="registerEmail">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>


                                <div class="col-12 learts-mb-20">
                                    <label asp-for="City">City<abbr class="required">*</abbr></label>
                                    <select asp-for="City" asp-items="Html.GetEnumSelectList<Cities>()" class="form-control" id="registerCity">
                                        <option value="">Select City</option>
                                    </select>
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>

                                <div class="col-12 learts-mb-20">
                                    <label asp-for="Password">Password <abbr class="required">*</abbr></label>
                                    <div class="input-group image">
                                        <span class='ab' onclick="togglePasswordVisibility('registerPassword', 'togglePassword')">
                                            <i class="fa fa-eye-slash" id="togglePassword"></i>
                                        </span>
                                        <input asp-for="Password" type="password" id="registerPassword" class="form-control">
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="col-12 learts-mb-20">
                                    <label asp-for="ConfirmPassword">Confirm Password <abbr class="required">*</abbr></label>
                                    <div class="input-group image">
                                        <span class='ab' onclick="togglePasswordVisibility('confirmPassword', 'toggleConfirmPassword')">
                                            <i class="fa fa-eye-slash" id="toggleConfirmPassword"></i>
                                        </span>
                                        <input asp-for="ConfirmPassword" type="password" id="confirmPassword" class="form-control">
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="col-12 learts-mb-50">
                                    <p>Your personal data will be used to support your experience throughout this website, to manage access to your account</p>
                                </div>
                                <div class="col-12 text-center learts-mb-50">
                                    <button class="btn btn-dark btn-outline-hover-dark">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- Login & Register Section End -->
<script>
    function togglePasswordVisibility(inputId, eyeIconId) {
        var passwordInput = document.getElementById(inputId);
        var eyeIcon = document.getElementById(eyeIconId);

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        } else {
            passwordInput.type = "password";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        }
    }
</script>