@model SmallBusiness.ViewModels.ResetPasswordViewModel

<div class="section section-padding">
    <div class="container">
        <div class="row g-0" style="justify-content:center">
            <div class="col-lg-6">
                <div class="user-login-register bg-light">
                    <div class="login-register-title">
                        <h2 class="title">Reset Password</h2>
                    </div>
                    <div class="login-register-form">
                        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form" id="resetPasswordForm">
                            <input type="hidden" asp-for="UserId" />
                            <input type="hidden" asp-for="Token" />
                            <div class="row learts-mb-n50">
                                <div class="col-12 learts-mb-50">
                                    <input asp-for="Password" type="password" placeholder="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-12 learts-mb-50">
                                    <input asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="col-12 text-center learts-mb-50">
                                    <button type="submit" class="btn btn-dark btn-outline-hover-dark">Reset Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



