@model SmallBusiness.Models.Profile

@{
    ViewData["Title"] = "Profile Details";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
        }

        h1 {
            font-size: 28px;
            color: #333;
            margin-bottom: 20px;
        }

        hr {
            border: 1px solid #ccc;
            margin: 20px 0;
        }

        dl.row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        dt, dd {
            padding: 10px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
            margin: 0;
        }

        dt {
            font-weight: bold;
            background-color: #eee;
        }

        dd {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Home</a></li>
                <li class="breadcrumb-item"><a asp-action="GetSellers" asp-controller="Admin" asp-area="Admin">Sellers</a></li>
                <li class="breadcrumb-item"><a asp-action="SellerDetails" asp-controller="Admin" asp-route-sellerId="@Model.SellerId" asp-area="Admin">Seller Details</a></li>
                <li class="breadcrumb-item active">Profile Details</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
              
                <div>
                    <hr />
                    <dl class="row">
                       
                        <dt>
                            <strong>Profile Image:</strong>
                        </dt>
                        <dd>
                            <img src="~/Profile/@Model.ProfileImage" style="width:80px" />
                        </dd>

                        <dt>
                            <strong>Shop Name:</strong>
                        </dt>
                        <dd>
                            @Model.ShopName
                        </dd>

                        <dt>
                            <strong>Description:</strong>
                        </dt>
                        <dd>
                            @Model.Description
                        </dd>

                    </dl>
                </div>

                <div class="text-end">
                    <a href="@Url.Action("SellerDetails", "Admin", new { sellerId = Model.SellerId })" class="btn btn-primary">Back to Seller</a>

                </div>
               
            </div>
        </div>
    </div>
</body>
</html>
