 <!-- About Section Start -->
<div class="section section-padding pb-0">
    <div class="container">
        <div class="row learts-mb-n30">

            <div class="col-md-6 col-12 align-self-center learts-mb-30">
                <div class="about-us3">
                    <span class="sub-title">Live out your life.</span>
                    <h2 class="title">The happiness of <br> crafting artworks</h2>
                    <div class="desc">
                        <p>It’s all about the joy when finally you have done something beautiful on your own and observe it with quite a great deal of proud & successful feeling.</p>
                    </div>
                    <a href="#" class="link">Learn more</a>
                </div>
            </div>
            <div class="col-md-6 col-12 text-center learts-mb-30">
                <img src="https://htmldemo.net/learts/learts/assets/images/about/about-5.webp" alt="">
            </div>

        </div>
    </div>
</div>
<!-- About Section End -->
<!-- Feature Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row row-cols-md-3 row-cols-1 learts-mb-n30">

            <div class="col learts-mb-30">
                <div class="icon-box4">
                    <div class="inner">
                        <div class="content">
                            <h6 class="title">FREE SHIPPING</h6>
                            <p>Once receiving your order, we will turn your products around in 3- 5 business days.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col border-left border-right learts-mb-30">
                <div class="icon-box4">
                    <div class="inner">
                        <div class="content">
                            <h6 class="title">FREE RETURNS</h6>
                            <p>We accept returns for freshly purchased products within 7 days from the payment.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col learts-mb-30">
                <div class="icon-box4">
                    <div class="inner">
                        <div class="content">
                            <h6 class="title">SECURE PAYMENT</h6>
                            <img class="img-hover-color " src="~/assets/images/others/pay.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Feature Section End -->
<!-- Video Banner Section Start -->
<div class="section">
    <div class="container">
        <div class="video-banner2" data-bg-image="https://htmldemo.net/learts/learts/assets/images/banner/video/video-banner-2.webp">
            <div class="content">
                <a href="https://www.youtube.com/watch?v=1jSsy7DtYgc" class="video-popup">
                    <img src="~/assets/images/icons/button-play-light.webp" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Video Banner Section End -->
<!-- Feature Section Start -->
<div class="section section-padding">
    <div class="container">

        <div class="row learts-mb-n30">

            <div class="col-xl-3 col-lg-4 col-12 me-auto learts-mb-30">
                <h1 class="fw-400">The difference when you shop Learts!</h1>
            </div>
            <div class="col-lg-8 col-12 learts-mb-30">
                <div class="row learts-mb-n30">

                    <div class="col-md-6 col-12 learts-mb-30">
                        <p class="text-heading fw-600 learts-mb-10">Free Shipping</p>
                        <p>Once receiving your order, we will turn your products around in 3-5 business days.</p>
                    </div>

                    <div class="col-md-6 col-12 learts-mb-30">
                        <p class="text-heading fw-600 learts-mb-10">Free Returns</p>
                        <p>We accept returns for freshly purchased products within 7 days from the payment.</p>
                    </div>

                    <div class="col-md-6 col-12 learts-mb-30">
                        <p class="text-heading fw-600 learts-mb-10">Superb Quality</p>
                        <p>We make commitments that the quality of our products will and always will be superb.</p>
                    </div>

                    <div class="col-md-6 col-12 learts-mb-30">
                        <p class="text-heading fw-600 learts-mb-10">Free Wrapping</p>
                        <p>Upon request, items bought as gifts from our store can receive free wrapping service.</p>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
<!-- Feature Section End -->












<!-- Instagram Section Start -->
<div class="section section-padding border-top">
    <div class="container">

        <!-- Section Title Start -->
        <div class="section-title2 text-center">
            <h3 class="sub-title">Follow us on Instagram</h3>
            <h2 class="title">@@learts_shop</h2>
        </div>
        <!-- Section Title End -->

        <div class="instafeed instafeed-carousel instafeed-carousel1">
            <a class="instafeed-item" href="#">
                <img src="~/assets/images/instagram/instagram-1.webp" alt="instagram image" />
                <i class="fab fa-instagram"></i>
            </a>
            <a class="instafeed-item" href="#">
                <img src="~/assets/images/instagram/instagram-2.webp" alt="instagram image" />
                <i class="fab fa-instagram"></i>
            </a>
            <a class="instafeed-item" href="#">
                <img src="~/assets/images/instagram/instagram-3.webp" alt="instagram image" />
                <i class="fab fa-instagram"></i>
            </a>
            <a class="instafeed-item" href="#">
                <img src="~/assets/images/instagram/instagram-4.webp" alt="instagram image" />
                <i class="fab fa-instagram"></i>
            </a>
            <a class="instafeed-item" href="#">
                <img src="~/assets/images/instagram/instagram-2.webp" alt="instagram image" />
                <i class="fab fa-instagram"></i>
            </a>
            <a class="instafeed-item" href="#">
                <img src="~/assets/images/instagram/instagram-3.webp" alt="instagram image" />
                <i class="fab fa-instagram"></i>
            </a>
        </div>

    </div>
</div>
<!-- Instagram Section End -->