 <!-- About Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n30">
            <div class="col-lg-4 col-12 align-self-center learts-mb-30">
                <div class="about-us4">
                    <span class="sub-title">LEARTS STORE</span>
                    <h2 class="title">Aspiration Inspired Happiness</h2>
                </div>
            </div>
            <div class="col-lg-8 col-12 learts-mb-30">
                <img src="https://htmldemo.net/learts/learts/assets/images/about/about-6.webp" alt="">
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->



<!-- About Section Start -->
<div class="section section-fluid section-padding pt-0">
    <div class="container">
        <div class="row learts-mb-n30">

            <div class="col-lg-6 col-12 text-center learts-mb-30">
                <img src="https://htmldemo.net/learts/learts/assets/images/about/about-7.webp" alt="">
            </div>

            <div class="col-lg-6 col-12 align-self-center learts-mb-30">
                <div class="about-us4">
                    <div class="row learts-mb-n30">
                        <div class="col-xl-8 col-12 learts-mb-30">
                            <div class="desc mb-0">
                                <p>Crafting beautiful stuff with our own hands and the help from useful tools is a wonderful process, where you can enjoy yourself while pulling out some ideas and busy perfecting your work.</p>
                            </div>
                        </div>
                     
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start text-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">PHONE</h6>
                                        <p>Mobile: (+962)796684240</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 learts-mb-30">
                            <div class="icon-box4 text-left justify-content-start text-start">
                                <div class="inner">
                                    <div class="content">
                                        <h6 class="title">EMAIL</h6>
                                        <p>
                                            learts2024@gmail.com
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- About Section End -->



<!-- Video Banner Section Start -->
<div class="section">
    <div class="video-banner" data-bg-image="https://htmldemo.net/learts/learts/assets/images/banner/video/video-banner-1.webp">
        <div class="content">
            <h2 class="title">LITTLE <span>SIMPLE</span> THINGS</h2>
            <a href="https://www.youtube.com/watch?v=1jSsy7DtYgc" class="video-popup">
                <img src="~/assets/images/icons/button-play.webp" alt="">
            </a>
        </div>
    </div>
</div>
<!-- Video Banner Section End -->



<!-- Instagram Section Start -->
<div class="section section-padding pt-0 mt-4">
    <div class="container">
        <div class="row row-cols-lg-2 row-cols-1 learts-mb-n50">

            <div class="col align-self-center learts-mb-50 order-lg-2">
                <div class="section-title3 text-center m-0" data-bg-image="assets/images/title/title-3.webp">
                    <h2 class="title">Follow us on Instagram</h2>
                    <p class="desc">@@learts_shop</p>
                </div>
            </div>

            <div class="col learts-mb-50">

                <div class="instafeed instafeed-carousel instafeed-carousel2">
                    <a class="instafeed-item" href="#">
                        <img src="https://htmldemo.net/learts/learts/assets/images/instagram/instagram-3.webp" alt="instagram image" />
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="instafeed-item" href="#">
                        <img src="https://htmldemo.net/learts/learts/assets/images/instagram/instagram-2.webp" />
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="instafeed-item" href="#">
                        <img src="https://htmldemo.net/learts/learts/assets/images/instagram/instagram-2.webp" />
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="instafeed-item" href="#">
                        <img src="https://htmldemo.net/learts/learts/assets/images/instagram/instagram-2.webp" />
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="instafeed-item" href="#">
                        <img src="https://htmldemo.net/learts/learts/assets/images/instagram/instagram-2.webp" />
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>

            </div>

        </div>

    </div>
</div>
<!-- Instagram Section End -->