@using Microsoft.AspNetCore.Identity;
@using SmallBusiness.List;
@inject UserManager<User> UserManager
@model SmallBusiness.ViewModels.UpdateViewModel

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
    <div class="row">
        @if (User.Identity.IsAuthenticated)
        {
            var user = await UserManager.GetUserAsync(User);
            var firstName = user?.FirstName ?? "User";
            var lastName = user?.LastName ?? "User";
            var userImage = user?.Image ?? "assetsAdmin/img/profile-img.jpg";
        <div class="col-xl-4">
           

            <div class="card">
               
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">




                        <img src="~/User/@userImage" alt="Profile" class="rounded-circle">
                        <h2>@firstName @lastName</h2>
                    </div>

                    </div>

                    </div>

                    <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                        </li>


                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">


                        <div class="tab-pane fade show active profile-overview profile-edit pt-3" id="profile-edit">

                            <!-- Profile Edit Form -->
                            <form asp-action="Edit" asp-controller="AdminEdit" method="post" enctype="multipart/form-data">
                                <div class="row mb-3">
                                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                    <div class="col-md-8 col-lg-9">
                                            <img src="~/User/@userImage" alt="Profile" id="previewImage">
                                        <div class="pt-2">
                                                <input type="file" id="fileInput" asp-for="ProfileImage" accept="image/*">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                                    <div class="col-md-8 col-lg-9">
                                            <input name="FirstName" type="text" class="form-control" id="fullName" asp-for="FirstName">
                                    </div>
                                </div>


                                    <div class="row mb-3">
                                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="LastName" type="text" class="form-control" id="fullName" asp-for="LastName">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-md-4 col-lg-3 col-form-label">City</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select asp-for="City" asp-items="Html.GetEnumSelectList<Cities>()" class="form-control" id="registerCity">
                                                <option value="">Select City</option>
                                            </select>
                                        </div>
                                    </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>


                        <div class="tab-pane fade pt-3" id="profile-change-password">
                            <!-- Change Password Form -->
                                <form asp-action="Edit" asp-controller="AdminEdit" method="post">

                                <div class="row mb-3">
                                    <label  class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                    <div class="col-md-8 col-lg-9">
                                            <input name="CurrentPassword" asp-for="CurrentPassword" type="password" class="form-control" id="currentPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                            <input name="newPassword" asp-for="NewPassword" type="password" class="form-control" id="newPassword">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label  class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                    <div class="col-md-8 col-lg-9">
                                            <input name="NewPassword" asp-for="NewPassword" type="password" class="form-control" id="renewPassword">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Change Password</button>
                                </div>
                            </form><!-- End Change Password Form -->

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
        }
    </div>
</section>


<!-- Add this script to your Razor Page or in a separate JavaScript file -->
<script>
    function previewImage(input) {
        var preview = document.getElementById('previewImage');
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            };

            reader.readAsDataURL(file);
        }
    }

    // Attach the previewImage function to the change event of the file input
    document.getElementById('fileInput').addEventListener('change', function () {
        previewImage(this);
    });
</script>
