@using SmallBusiness.List;
<link href="~/EditCSS/card.css" rel="stylesheet" />

@{
    Layout = "_AdminLayout";
    var users = ViewBag.Users as IEnumerable<User>;
    var role = ViewBag.Role as string;
}



    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="container">
                    @foreach (var user in users)
                    {
                        <div class="box">
                            <div class="image">
                                <img src="~/@user.Image" alt="">
                            </div>
                            <div class="name_job">@user.FirstName @user.LastName</div>
                            <p>@user.UserName</p>
                            <div class="btns">
                                <button class="btn btn-primary" onclick="location.href='@Url.Action("UserDetails", "Admin", new { userId = user.Id })'">Details</button>                                <button>Delete</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

