@model SmallBusiness.ViewModels.ProfileViewModel

<h2>Edit Seller Profile</h2>

<form asp-action="EditProfile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="ProfileImage"></label>
        <input type="file" name="File" />
        <span asp-validation-for="ProfileImage" class="text-danger"></span>
        <input type="hidden" asp-for="ProfileImage" class="form-control" />

    </div>

    <div class="form-group">
        <label asp-for="ShopName"></label>
        <input asp-for="ShopName" class="form-control" />
        <span asp-validation-for="ShopName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
