@model List<SmallBusiness.Models.OrderItems>




<!-- Wishlist Section Start -->
<div class="section section-padding">
    <div class="container">
        <form class="cart-form" action="#">
            <table class="cart-wishlist-table table">
                <thead>
                    <tr>
                        <th class="text-center">Product Name</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Product Image</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var orderItem in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @orderItem.Product.ProductName
                            </td>

                            <td class="text-center">
                                @orderItem.ProductQuantity
                            </td>

                            <td class="text-center">
                            @orderItem.Product.ProductPrice
                            </td>


                            <td class="text-center">
                                <img src="~/CategoryImg/@orderItem.Product.ImageUrl" style="width:90px">
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col text-end mb-n3">
                    <a asp-action="UserDetails" asp-controller="UserDetails" class="btn btn-dark btn-outline-hover-dark">back</a>
                </div>
            </div>
        </form>
    </div>

</div>
