@{
    var cart = ViewBag.CartItems as CartItems;
}
@model SmallBusiness.ViewModels.PaymentViewModel
<link href="~/checkout/checkout.css" rel="stylesheet" />


<div class='container container-check'>
    <div class='window'>
        <div class='order-info'>
            <div class='order-info-content'>
                <h2 class="header-2">Order Summary</h2>
                <div class='line'></div>
               
                @foreach (var item in
                ViewBag.CartItems)
                {
                    decimal itemPrice;
                    if (item.Product.ProductSale > 0)
                    {
                        itemPrice = item.Product.ProductPrice - (item.Product.ProductPrice * item.Product.ProductSale / 100);
                    }
                    else
                    {
                        itemPrice = item.Product.ProductPrice;
                    }
                    <table class='order-table'>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="~/CategoryImg/@item.Product.ImageUrl" class='full-width'></img>
                                </td>
                                <td>
                                    <br> <span class='thin'>@item.Product.ProductName <span class="product-qty">x @item.Quantity</span></span>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class='price'>$@itemPrice.ToString("0.00")</div>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <div class='line'></div>
                }
                <div class='total'>
                    @{
                        decimal subTotal = 0;
                        foreach (var item in
                        ViewBag.CartItems)
                        {
                            decimal itemPrice;
                            if (item.Product.ProductSale > 0)
                            {
                                itemPrice = item.Product.ProductPrice - (item.Product.ProductPrice * item.Product.ProductSale / 100);
                            }
                            else
                            {
                                itemPrice = item.Product.ProductPrice;
                            }
                            subTotal += itemPrice * item.Quantity;
                        }
                    }
                    <span style='float:left;'>
                        TOTAL
                    </span>
                    <span style='float:right; text-align:right;'>
                        $@subTotal.ToString("0.00")
                    </span>
                </div>
            </div>
        </div>
        <div class='credit-info'>
            <div class='credit-info-content'>
               
                <img src='https://dl.dropboxusercontent.com/s/ubamyu6mzov5c80/visa_logo%20%281%29.png' height='80' class='credit-card-image' id='credit-card-image'>
               <form method="post">
                   <div>
                        Card Number
                        <input asp-for="CCNum" class='input-field'>

                   </div>
                    <div>
                        Card Holder
                        <input asp-for="Name" class='input-field'>

                    </div>
                    <table class='half-input-table'>
                        <tr>
                            <td>
                               <div>
                                    Expires
                                    <input type="month" asp-for="ExpireDate" class='input-field' placeholder="MM/YY" min="@DateTime.Now.ToString("yyyy-MM")">

                               </div>

                            </td>
                            <td>
                               <div>
                                    CVC
                                    <input asp-for="CVV" class='input-field' maxlength="3">
                               </div>

                            </td>
                        </tr>
                    </table>
                    <button class='pay-btn'>Checkout</button>
               </form>

            </div>

        </div>
    </div>
</div>